# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.TestSolution.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Games\Work\C#UNIC\TestSolution\.idea\.idea.TestSolution\.idea/dataSources/
/dataSources.local.xml
